@{
  Layout = "_Layout";
}
@using Factory.Models
@model Factory.Models.Machine


<h4>Add a New Machine</h4>

@using (Html.BeginForm())
{
    @Html.Display("Machine Name:")
    @Html.TextBoxFor(model => model.MachineName)
    @Html.DropDownList("MachineStatus")
    <input type="submit" value="Add new Machine" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Machines", "Index")</p>